/*
    Color Code: #663300
    Derive: #cc6600
*/
.navbar-brand{
    height: 60px;
}

#top-left li {
    color: #663300;
}

#top-left li > a {
    color: #993300;
    font-weight: bold;
    font-size: 18px;
}

.footer{
    background-color: #663300;
    width: 100%;
    min-height: 150px;
    border-bottom: 0;
    position: absolute;
    /*right: 0;
    bottom: 0;
    left: 0;*/
    color: #fff;
    padding: 20px 10px 10px 20px;
}
.body-footer{
    
    height: 80px;
}
.bottom-footer{
    border-top: 0.2px solid #ccc;
    padding-top: 10px;
    font-size: 10px;
}
.bottom-footer ul li {
    display: inline;
}
.footer-subheader{
    display: block;
    color: #ccc;
}
.footer-social{
    background-color: #fff;
    padding: 10px;
    background: 1px solid #ccc;
}

/* Section for guest */
body#guest{
    background-color: #FFF;
}
.contact-box{
    padding: 2% 15% 0 15%;
    min-height: 300px;
}
.form-box{
    padding: 30px 0px 0px 0px;
    width: 100%
}
.form-box .form-group {
    margin-left: 5px;
}
.btn-message{
    margin-bottom: 50px;
}

.contact-box-info{
    padding: 10% 15% 0 10%;
    font-weight: bold;
}

.contact-box-info ul {
    list-style: none;
    font-weight: bold;
}
  
.contact-box-info ul li:before {
    content: '✓';
    font-weight: bold;
}

.box-search-welcome{
    margin: 10px 0 40px 0;
}

.section_items{
    width: 100%;
    min-height: 200px;
    background: #f4eae5;
    padding-left: -15%;
}

.section_item{
    width: 100%;
    min-height: 200px;
    background: #fff;
    padding-left: -15%;
}

#browse-box{
    border: 1px solid #ccc;
    border-top: 2px solid #993300;
    background: #fff;
    min-height: 300px;
}

#browse-item-box{
    border-top: 1px solid #ccc;
    background: #fff;
    min-height: 300px;
    padding: 15px;
}

#browse-box .row{
    margin: auto 0px;
}

#browse-box ul{
    padding: 0px;
}

#browse-box ul li {
    border-bottom: 1px dotted #ccc;
    padding: 0px;
    list-style: none;
    padding: 7px 8px 7px 0;
}

#browse-box .col-lg-3, .col-lg-9 {
    padding-left: 0;
    padding-right: 0;
}

#browse-box li a:hover {
    text-decoration: none;
    font-weight: bold;
}

.item_box{
    height: 250px;
    border: 0.05px solid #ccc;
}

.item_box:hover{
    border: 1px solid #ccc;
    
}
#image_item{
    float: left;
}
#image_item img{
    width: 50px
}

.bottom-page{
    margin:10px;
}

#item_desc{
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}

#user-evaluation{
    border: 1px solid #DEDEDE;
    border-radius: 1px;
    max-height: 200px;
    background: #F7F7F7;
    width: 100%;
    text-align: center;
}
#user-evaluation ul li{
    display: inline-block;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

#inbox-section{
    background: #F7F7F7;
    min-height: 500px;
    margin-bottom: 30px;
}
.inside-box{
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    margin: 15px;
    padding: 20px;
}

.btnSendRequest{
    margin-top: 20px;
}

#payment_margin{
    padding-left: 30px;
    font-size: 10px;
    margin-top: -10px;
}